
/*  ********* Variant Selector PopUp  ************************************** */
.pos .modal-dialog .popup-select-variant{
    margin-left:0;
    margin-top:0;
    left:5%;
    width: 90%;
    top:5%;
    max-height:85%;
}

.pos .variant-screen .screen-content{
    border: none !important;
}
.pos .variant-screen .screen-content .top-content{
    border: none !important;
}

.pos .variant-screen .variant-title{
    height: 10%;
}

.pos .variant-screen .variant-title #variant-popup-cancel{
    margin: -10px 3px 3px 3px;
}

.pos .variant-screen .container-attribute-list{
    width:100%;
    height:450px;
    max-height:450px;
    overflow: hidden;
    overflow-y: auto;
/*     border-bottom: 1px dashed #444; */
    -webkit-overflow-scrolling: touch;
}

.pos .variant-screen .container-variant-list{
    width:100%;
    height:450px;
    max-height:450px;
    overflow: hidden;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;
}

.pos .variant-list {
    padding: 10px;
    text-align: center;
    -webkit-transform: translate3d(0,0,0);
}

/*  ********* Attribut Display  ******************************************** */
.pos .attribute {
    position:relative;
    width: 100%;
    vertical-align: top;
    display: inline-block;
}

.pos .attribute .attribute-name{
    float: left;
    font-size: 25px;
    width: 15%;
    height: 30px;
    overflow:hidden;
    background: #FFF !important;
    padding: 8px;
    margin-top: 5px;
}

.pos .attribute .value-list-container{
    width:80%;
    float: left;
}

.pos .attribute .selected{
    background-color: #6EC89B !important;
    font-weight: bold !important;
    font-size:18px;
    color:#FFF !important;
}

.pos .attribute .attribute-value {
    float: left;
    width: 150px;
    padding-left: 10px;
}

.pos .attribute .attribute-value .button{
    width: 100%;
    background: #FFF;
    margin-top: 5px;
}

.pos .attribute .attribute-value .attribute-value-header{
    width: 100%;
    height: 20px;
    text-align: right;

}
.pos .attribute .attribute-value .attribute-value-name{
    width: 100%;
    height: 50px;
    line-height:22px;
    font-size: 22px;
    overflow: hidden;
/*     font-size: 10px; */
    text-align: center;

/*     font-weight: normal; */
   /* padding: 2px; */
}

.pos .attribute .attribute-value .variant-quantity{
    position: relative;
    top: 2px;
    right: 0px;
    vertical-align: top;
    color: #FFF;
    line-height: 13px;
    background: none repeat scroll 0% 0% #7F82AC;
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 9px;
    margin-right:3px;
}


/*  ********* Variant Display  ********************************************* */
/* This part is a copy paste from Odoo Project, with some values changed     */
.pos .variant {
    position:relative;
    vertical-align: top;
    display: inline-block;
    line-height: 100px;
    font-size: 11px;
    margin: 5px !important;
    width: 100px;
    height:100px;
    background:#fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    border-bottom-width: 3px;
    overflow: hidden;
    cursor: pointer;
}

.pos .variant .variant-header {
    position: relative;
    width: 100px;
    height: 25px;
    background: white;
    text-align: center;
}

.pos .variant .price-tag {
    position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
}

.pos .variant .variant-name {
    font-weight: normal;
    position: absolute;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
    bottom:0;
    top:auto;
    line-height: 14px;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:    -moz-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    background:     -ms-linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    /* troublesome in latest webkit
    background:         linear-gradient(-90deg,rgba(255,255,255,0),rgba(255,255,255,1), rgba(255,255,255,1));
    */
    /*background:#FFF;*/
    padding: 3px;
    padding-top:15px;
}

.pos .variant-screen .top-content #variant-title-name{
    vertical-align: middle;
    font-size: 20px;
}