<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 11 Point of Sale Extension</h2>
            <br/>
<div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <div>
                <h3>
                    Features
                </h3>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">View/Sale Products by Product Variants.</li>
                </ul>
            </div>
            <div class="oe_screenshot" style="text-align: left;">
	            <ul>
	                <li style="color:#30054D;font-weight:bold;">Here we can see the variants tab, where we can add product variants with it's attribute and attribute values.</li>
	                <li style="color:#30054D;font-weight:bold;">Here we define T-shirt product which have two attribute color and size with it's values.</li>
	            </ul>
	            <img style="max-width: 100%;" src="add_product_variants.png"><br/><br/>
	            <ul>
                    <li style="color:#30054D;font-weight:bold;">In point of sale we can see T-shirt products into products screen and we can see total variants.</li>
                </ul>
                <img style="max-width: 100%;" src="pos_varient_product.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After click on variant products we can see new screen where we can see different attributes like color and size.</li>
                    <li style="color:#30054D;font-weight:bold;">Here we can filter T-shirt product by click on different color and size.</li>
                    <li style="color:#30054D;font-weight:bold;">For Example here we can see filtered product T-shirt which have 'blue' color and 'xl' size.</li>
                </ul>
                <img style="max-width: 100%;" src="main_screenshot.png"><br/><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">After clicking on filter product we can add filtered product into cart as per below image.</li>
                </ul>
                <img style="max-width: 100%;" src="variant_product_into_cart.png"><br/><br/>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
       </div>
   </div>
</section>